body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgba(109, 129, 242, 0.689);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

canvas{
    border: 1px solid #000;/*Borda do canvas*/
}