/*p{
    font-size: 20px;;
}*/

p::first-letter{/*primeira letra sera alterada*/
    font-size: 40px;
    color: purple;
}

h1::after{/*depois de algo o simbolo aparecera*/
    content: " ✔️";
    color: blue;
}
.texto::before{/*elemento aparecera antes de algo*/
    content: "💡 ";
}

::first-line{
font-size: 18px;
}

::selection{/*Aparecera quando o texto for selecionado*/
    background-color: black;
}